services:
  endee:
    image: endeeio/endee-server:latest
    container_name: endee-server
    ports:
      - "8081:8080"
    environment:
      # NDD_NUM_THREADS: 0
      NDD_AUTH_TOKEN: "" # Optional: set for authentication
    volumes:
      - endee-data:/data
    restart: unless-stopped

volumes:
  endee-data:
