@import "tailwindcss";

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(15 23 42);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(71 85 105);
}

/* Background Pattern */
.bg-image-dots {
  background-image: radial-gradient(#334155 1px, transparent 1px);
  background-size: 24px 24px;
}
